@model LibraryCoreApp.Models.User

@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryCoreApp.styles.css" asp-append-version="true" />
</head>
<body style="padding:unset">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <br />
            <div style="height:auto; width:110px; background-color:#d9534f">
                <br />
                <br />
                <br />
                <br />
            </div>
            <br />
            <div class="col-md-4 offset-sm-4">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body offset-sm-1">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form class="container-fluid">
                            <div class="form-group">
                                <p class="text-danger">@ViewBag.Message</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter the email" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fas fa-unlock"></i>
                                    </span>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ", placeholder = "Enter the password", type = "password" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>                            
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="col-10 offset-1">
                            <button type="submit" value="Login" class="btn btn-sm btn-block btn-danger">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-10 offset-9">
                            <a class="btn btn-sm btn-block btn-info" href="/Home/Register">Register user</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
